<div class="container-fluid">
    <div class="row">
        <div class="columns">
            <form name="add">
                <label>
                    Naam
                    <input type="text" ng-model="vm.title" />
                </label>
                <label>
                    Omschrijving
                    <textarea ng-model="vm.description"></textarea>
                </label>
                <label>
                    Hoort bij
                    <input type="text" ng-model="vm.company" />
                </label>
                <a class="btn btn-primary" ng-click="vm.save()">Opslaan</a>
            </form>
        </div>
    </div>
</div>