<h1>Perscriptio</h1>
<p>{{ vm.messages }}</p>
<div class="row">
    <div class="col-xs-12 col-md-6 time">
        <h3>Time</h3>
        <div class="well">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <label>Begin
                        <timepicker ng-model="vm.start" ng-change="vm.getAmount()" minute-step="15" show-meridian="false" mousewheel="false" />
                    </label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <label>Eind
                        <timepicker ng-model="vm.end" ng-change="vm.getAmount()" minute-step="15" show-meridian="false" mousewheel="false" />
                    </label>
                </div>
                <div class="col-xs-12 col-md-4">
                    <label>Totaal {{ vm.amount }}</label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <label>Opdrachtgever
                        <select ng-model="vm.company" ng-change="vm.getProjects()" ng-options="obj as obj.name for obj in vm.companies"></select>
                    </label>
                </div>
            </div>
            <div class="row" ng-show="vm.showProjects">
                <div class="col-xs-12">
                    <label>Taak
                        <select ng-model="vm.project" ng-options="obj as obj.title for obj in vm.projects"></select>
                    </label>
                </div>
            </div>
            <div class="row" ng-show="vm.project != 0">
                <div class="col-xs-12">
                    <label>Omschrijving
                        <textarea ng-model="vm.description" placeholder="Plaats hier een omschrijving"></textarea>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-primary" ng-click="vm.save()" ng-disabled="vm.project == 0">Opslaan</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 milage">
        <h3>Milage</h3>
        <div class="well">

        </div>
    </div>
</div>