* {
  padding: 0;
  margin: 0; }

html, body {
  font: 1.0em/1.4em "Helvetica Neue", Arial, sans-serif;
  color: #2D2D2D; }

.container, .container-fluid {
  margin: 0 auto;
  display: block; }
  .container .row, .container-fluid .row {
    width: 100%;
    display: block; }
    .container .row .columns, .container-fluid .row .columns {
      display: inline-block;
      vertical-align: top;
      width: 100%; }

.container-fluid {
  width: 100%; }

.container {
  width: 1024px; }

/*--------- Tables ----------- */
.table {
  width: 100%;
  padding: 10px 0; }
  .table thead th, .table tbody td {
    padding: 5px 0;
    text-indent: 5px;
    margin: 0; }
  .table thead th {
    text-align: left;
    font-size: 15px; }
  .table tbody td {
    font-size: 13px; }
  .table.table-border thead th {
    border-bottom: 2px solid #9a9a9a; }
  .table.table-border tbody td {
    border-bottom: 1px solid #CDCDCD; }
