<form name="authentication">
    <div class="input-group">
        <label>Gebruikersnaam
            <input type="email" ng-model="email" name="email" />
        </label>
    </div>
    <div class="input-group">
        <label>Wachtwoord
            <input type="password" ng-model="password" name="password" />
        </label>
    </div>
    <div class="input-group">
        <button type="button" name="login" ng-click="attempt()">Inloggen</button>
    </div>
    <button type="button" name="logout" ng-click="logout()">Uitloggen</button>
</form>